
<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                    <div class="single-footer-widget m-0">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="~/assets/images/logo/footer_main.png" alt="Logo Image">
                            </a>
                        </div>
                        <p class="desc-content">JK Figure - Cửa Hàng Bán Mô Hình Số 1 Việt Nam, Mang Đến Cho Bạn Những Sản Phẩm Chất Lượng Hàng Đầu Đến Từ Nhật Bản</p>
                        <div class="social-links">
                            <ul class="d-flex">
                                <li>
                                    <a class="border rounded-circle" href="#" title="Facebook">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Vimeo">
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Thông Tin</h2>
                        <ul class="widget-list">
                            <li><a href="#">Vũ Hồng Phúc</a></li>
                            <li><a href="#">Đào Thanh Tùng</a></li>
                            <li><a href="#">Nguyễn Văn Dũng</a></li>
                            <li><a href="#">Hoàng Xuân Nam</a></li>
                            <li><a href="#">Phan Hoàng Hiệp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Chức Vụ</h2>
                        <ul class="widget-list">
                            <li><a href="#">Team Leader</a></li>
                            <li><a href="#">Member</a></li>
                            <li><a href="#">Member</a></li>
                            <li><a href="#">Member</a></li>
                            <li><a href="#">Member</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Công Việc</h2>
                        <ul class="widget-list">
                            <li><a href="#">Coder</a></li>
                            <li><a href="#">Coder</a></li>
                            <li><a href="#">Coder</a></li>
                            <li><a href="#">Coder</a></li>
                            <li><a href="#">Coder</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Thông Tin Khác</h2>
                        <div class="widget-body">
                            <address>XQJQ+6MC, P. Văn Quán, Hà Đông, Hà Nội.<br>Phone: 01254 698 785, 36598 254 987<br>Email: Daihockientruc@edu.vn</address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>